{% load static %}
<div class="sidebar m-5 d-none d-md-block">
    <div class="">
        <div class="card " style="width: 18rem; text-align:center;border-radius: 20px;">
            <img class="card-img-top rounded-circle" style="width:60%; position: relative;left: 62px;padding-top: 20px;"
                src="{{ profile.picture.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ profile.name }}</h5>
                <h6 class="card-title font-weight-bold">@{{ profile.user }}</h6>


                <p class="card-text">{{ profile.bio }}</p>
                <h6 class="card-title font-weight-bold">
                    100 Followers
                    100 Following
                </h6>
            </div>

        </div>
        {% if request.user == profile.user %}
        <button id="addATweetLeft" onclick="addTweet()" type="button"
            style="border-radius: 30px; font-size: 1.1rem; font-weight:bold;"
            class="btn btn-lg btn-block mt-4 text-white ">Editar mi perfil</button>
        {% endif%}
    </div>
</div>